@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
    font-family: 'Sora', sans-serif;
    margin: 0;
    height: auto;
}

html {
    scroll-behavior: inherit !important;
    min-height: 700px;
    height: auto;
}

*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    border: none;
}